# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
.pytest_cache/

# Virtual Environments
.venv/
venv/
env/

# ==========================================================
# Editor Settings
# ==========================================================

.vscode/

# ==========================================================
# Operating System Files
# ==========================================================

Thumbs.db
Desktop.ini

# ==========================================================
# Temporary Files
# ==========================================================

*.log
*.tmp


# ==========================================================
# Local Archive Files
# ==========================================================

Archive/

# ==========================================================
# Generated Project Files
#
# Keep the folders in Git but ignore their contents.
# ==========================================================

BLP/*
!BLP/.gitkeep

PNG/*
!PNG/.gitkeep

PNG_128x128_Resized/*
!PNG_128x128_Resized/.gitkeep

ICONS/*
!ICONS/.gitkeep

REVIEW/*
!REVIEW/.gitkeep