# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Temporary files
*.log
*.tmp

# Local archive files
Archive/

# Ignore generated/input contents, but keep the folders
BLP/*
!BLP/.gitkeep

PNG/*
!PNG/.gitkeep

PNG_128x128_Resized/*
!PNG_128x128_Resized/.gitkeep

ICONS/*
!ICONS/.gitkeep